#Apka
APP_PORT=9090
SERVER_PORT=9090

# Baza danych - Postgres
POSTGRES_DB=pokiepaws
POSTGRES_USER=pokiepaws
POSTGRES_PASSWORD=pokiepaws0303
POSTGRES_PORT=5432

# Administrator
ADMIN_EMAIL=admin@pokiepaws.pl
ADMIN_PASSWORD=Admin1234!
ADMIN_FIRST_NAME=Admin
ADMIN_LAST_NAME=PokiePaws

# JWT
JWT_SECRET=41008870ef465954c6efa46898366c177e7bfe46475376a0459122bd9c63ef51b2a69538fcda053cd6f02cec5ad02dba009f031b39546ba0d0f2b1065288ae9f
JWT_EXPIRATION=86400000

# Mail
MAIL_HOST=mailpit
MAIL_PORT=1025
MAILPIT_DASHBOARD_PORT=8025
MAILPIT_SMTP_PORT=1025

# URLs
BASE_URL=http://localhost:9090
FRONTEND_URL=http://localhost:3000